In [2]:
#load csv file into a pandas dataframe
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

#load the data
df = pd.read_excel('/home/nele_pauline_suffo/ProcessedData/quantex_at_home_data_sheet.xlsx')

In [ ]:
df_age_group = df[["ID", "Age Group"]]
# remove the rows with missing values
df_age_group = df_age_group.dropna()
df_age_group

           ID  Age Group
7    256461.0        4.0
8    256461.0        4.0
9    256461.0        4.0
10   256461.0        4.0
11   256461.0        4.0
..        ...        ...
512  262200.0        5.0
513  262200.0        5.0
514  262200.0        5.0
515  262200.0        5.0
516  262200.0        5.0

[478 rows x 2 columns]

In [5]:
# save age df to csv
df_age_group.to_csv('/home/nele_pauline_suffo/ProcessedData/age_group.csv', index=False)

In [1]:
def extract_id_from_filename(filename: str) -> str:
    """
    This function extracts the ID from a filename.
    
    Parameters:
    ----------
    filename : str
        Filename to extract the ID from
    
    Returns:
    -------
    id_part : str
        Extracted ID part of the filename
    """
    parts = filename.split('id')
    if len(parts) > 1:
        id_part = parts[1].split('_')[0]
        return id_part
    return None

In [3]:
type(extract_id_from_filename("quantex_at_home_id266050_2024_09_22_01.MP4"))

str